* { padding: 0; margin: 0; }

:root {
	--primary: #0F3C6C
  }

body { background-image: url(../images/background1.jpg); background-repeat: no-repeat; background-size: cover;  background-attachment: fixed;   background-position: center center;}

h1 { font-family: 'Quicksand', sans-serif; font-weight: bold; font-size: 47px; letter-spacing: 0.3em; color: #000; }

p, a { font-family: 'Open sans', sans-serif; font-weight: 400; font-size: 16px; line-height: 1.5; }

a { text-decoration: none; }

img { display: block; }

li { list-style: none; }

.container { max-width: 1200px; width: 80%; margin: auto; height: 100%; display: flex; align-items: end; justify-content: center;}

.d-flex { display: flex; }

.justify-content-center { justify-content: center; }

.text-center { text-align: center; }

.text-uppercase { text-transform: uppercase; }

.column { padding-bottom: 10%; }

.logo { margin: auto!important; max-width: 180px; }

.site-title { margin-top: 25px; }

.divider-horizontal-line { margin: auto; margin-top: 30px; width: 140px; height: 2px; display: block; background: var(--primary); }

.elhondo-block { margin-top: 25px; }

.elhondo-block p { font-size: 20px; font-weight: 300; }

.contact-us-block { margin-top: 20px; }

.contact-us-block a { margin: auto; color: #fff; background: var(--primary); padding: 6px 0; font-size: 21px; transition: all 0.6s; font-weight: 700; width: 420px; display: table; }

.contact-us-block a:hover { background: #000; }

.social-networks-block { margin-top: 20px; }

.social-networks-block img { max-width: 53px; }

@media (max-width: 1360px) {
	h1 { font-size: 37px; }

	.logo { max-width: 160px; }

	.divider-horizontal-line { max-width: 110px; }

	.elhondo-block p { font-size: 18px; }

	.contact-us-block a { font-size: 19px; width: 360px; }

	.social-networks-block li img { max-width: 45px; }
}

@media (max-width: 600px) {
	body { background-position: 42%; }

	.elhondo-section .row { top: 45%; }

	h1 { font-size: 22px; }

	.logo { max-width: 90px; }

	.divider-horizontal-line { max-width: 85px; }

	.elhondo-block p { font-size: 16px; }

	.contact-us-block a { font-size: 17px; max-width: 300px; }

	.social-networks-block li img { max-width: 38px; }
}